@import './variables.scss';
@import './common.scss';
@import './element.scss';

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
  color: #333;
}
#app{
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /*滚动条里面小方块*/
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
    opacity: 0.5;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #409eff
  }
  div:focus {
    outline: none;
  }
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}
a:active {
  outline: none;
}
// 清除浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}